
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2E3641;
}

.link line {
  stroke: white;
}

.link line.separator {
  stroke: #C82926;
  stroke-width: 3px;
}

.node circle {
  stroke: #2E3641;
  stroke-width: 3px;
  -webkit-transform-origin: 50% 50%;
}

.node.brand circle {
  fill: #EFD13B;
}

.node.site circle {
  fill: LightBlue;
}

.node text {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  fill: #2E3641;
}